**/*.~*
**/*.gdx
**/*.accdb
**/*.accdbbak
**/*.xls*
**/*.mdb
**/*.db
**/*.xls*
**/*.bak
**/*.out
**/*.bat
**/*.gpr
**/*.dat
**/*.cmd
**/data
**/data/*.inc
**/model/Balmorel.l*
**/output/economic/*.*
/base/bui/gamsscr/*.*
*.gsp
base/data/.gitignore
base/data/README.md
*.lst
*.log
*.lxi
*.pf
*.log~1
*.log~2
*.log~3
build
%batfileMERGEWITHBASE%
/base/data