**/*.~*
**/*.gdx
**/*.accdb
**/*.accdbbak
**/*.xls*
**/*.mdb
**/*.xls*
**/*.bak
**/*.out
**/*.bat
/simex/*.*
/base/bui/gamsscr/*.*
/base/data/**/*.*
/base/output/economic/*.*
/base/model/Balmorel.l*
/CaseCombtech
